* {
    box-sizing: border-box;
    margin: 0;
    font-family: Karla, sans-serif;
}

body {
	background-color: #4d1a5f;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.App {
	height: 550px;
	width: 550px;
	background-color: white;
	box-shadow: 
		2px 2px 5px #444444,
		-2px -2px 5px #444444;
}

.Header {
	display: flex;
	background: linear-gradient(90deg, #672280 0%, #A626D3 100%);
	color: white;
	height: 65px;
	padding: 20px;
}

.Header > h3 {
	margin-left: 7px;
	font-size: 21px;
	margin-right: auto;
	font-weight: 700;
}

.Header > p {
	padding: 5px 17px;
	font-size: 12px;
	font-weight: 500;
}
